[Unit]
Description=neuromics
After=network.target

[Service]
User=scic
Restart=on-failure
WorkingDirectory=/home/scic/dashapps/syndive/
Environment="NEUROMICS_URLPATH=/dashapps/localseq"
ExecStart=/home/scic/dashapps/syndive/venv/bin/gunicorn -c /home/scic/dashapps/syndive/deployment/gunicorn_config.py --bind 127.0.0.1:8051 index:server

[Install]
WantedBy=multi-user.target
